/*CSS document*/

html, body, div, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit;}

div.container, div.home-container {
    max-width: 40em;
    margin: auto;
}

a {
    text-decoration: none;
}

p {
    font-family: sans-serif;
    font-size: 1em;
    color: #000000;

}

nav ul {
    list-style-type: none;
    margin-bottom: 1em;
}

nav ul li {
    display: inline;
    padding: 0.5em 0.5em 1em 0;
}

nav ul li a {
    color: rgb(85, 119, 153);
    font-family: sans-serif;
    font-weight: 700;
    margin: 0.5em;
}

img {
    width: 100%;
    display: block;
}

h1 img {
    width: 10em;
    margin: 1em 0;
}

h2 {
    color: rgb(85, 119, 153);
    font-weight: 700;
}

.mainstory h2, article h2 {
    font-size: 2.5em;
}

.secondary h2 {
    font-size: 1.5em;
}

.tertiary h2 {
    font-size: 1em;
}

.tertiary {
    border-top: solid 1.5px rgb(85, 119, 153);
    margin: 1em 0.5em;
}

figcaption {
    padding-bottom: 1em;
    color: #555;
    font-style: italic;
    margin: .2rem .5rem 1em
}

aside {
    background-color: #ccccff;
    padding: 0.5em;
}

footer {
    background-color: rgb(85, 119, 153);
    padding: 1em 0;
    box-sizing: border-box;
}

footer p {
    padding-left: 0.5em;
    color: #ffffff;
}


@media only screen and (min-width: 60em) {

    div.home-container {
        max-width: 60em;
        padding: 0 1em;
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-gap: 1em;
    }

    div.container {
        max-width: 80em;
        padding: 0 1em;
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-gap: 1em;
    }

    header, footer {
        grid-column: 1/3;
    }

    div.home-container main {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1em;
    }

    div.home-container aside {
        background: none;
        padding: 0;
        margin-top: 0;
    }

    section.mainstory {
        grid-column: 2/4;
        grid-row: 1/3;
        display: flex;
    }

    section.mainstory a {
        flex: 1 0 12em;
        display: flex;
        flex-direction: column;
    }

    section.mainstory a figure {
        flex: 1 0 12em;
        display: flex;
    }

    section.mainstory a figure img {
        object-fit: cover;
    }

    section.mainstory a h2 {
        flex: 0 0 1em;
    }

    section.mainstory a p {
        flex: 0 0 4em;
    }

    section.secondary {
        display: flex;
    }

    section.secondary a {
        flex: 1 0 12em;
        display: flex;
        flex-direction: column;
    }

    section.socondary a figure {
        flex: 1 0 12em;
        display: flex;
    }

    section.secondary a figure img {
        object-fit: cover;
    }

    section.secondary a h2 {
        flex: 0 0 1em;
    }

    section.secondary a p {
        flex: 0 0 4em;
    }


}
